.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 600px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    color: dimgray;
    font-size: 20px;
    font-weight: bold;
}

.statList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label{
    color:white;
    font-size: 16px;
    font-weight: bold;
}

.percentage {
    color: white;
    font-size: 20px;
    font-weight: bold;
}